[submodule "external/pthash"]
	path = external/pthash
	url = https://github.com/jermp/pthash.git
[submodule "external/external/pthash"]
	path = external/external/pthash
	url = https://github.com/jermp/pthash.git
